<div class="wrapper">

  <div class="slider">
    <div class="tkd">
      <h1>Taekwondo</h1>
      <div class="tkd_info">
      	<h2>Learn from Professionals</h2>
      	<p>The ATA is the largest martial arts origination in the world. Being part of this amazing group we give out students amazing experience</p>
      </div>
    </div>
    <div class="krav">
      <h1>Krav Maga</h1>
      <div class="krav_info">
      	<h2>Street Self Defense</h2>
      	<p>Want to learn how defense yourself in the streets? Krav Maga was developed my the isreal army for practical real self defense.</p>
      </div>
    </div>
    <div class="bjj">
    	<h2>Brazilian Jiu-Jitsu</h2>
    	<p>Looking to defend yourself on the ground? There is no better system then Brazilian Jiu-Jitsu. We also focus on Respect and discipline in our youth program.</p>
    </div>
  </div>

  <div class="program_info">
  	<div class="program_tkd">
  		<h2>Taekwondo</h2>
  		<p>Our schools offers taekwondo training to ages 4 and up. Classes are based on age and experience. Find out more about this program</p> 
 	</div>
 	<div class="program_krav">
 		<h2>Krav Maga</h2>
 		<p>Krav is designed to allow anyone to defend themselves is the need arises. We focus greatly on fitness and real world self defense</p>
 	</div>

 	<div class="program_bjj">
 		<h2>Brazilian Jiu-Jitsu</h2>
 		<p>Our newest addition to our programs. We focus on developing kids and adults skill when it comes to defending themselves on the ground.</p>
 	</div>
  </div>

  <div class="quote">
  	<h3>"Today not possible...Tomorrow Possible"</h3>
  	<h4>- Eternal Grand Master Lee (ATA Founder)</h4>
  </div>

  <div class="contact_section">
  	<div class="contact_form">
  		<h3>Contact Us</h3>
      <%= render 'contacts/form', :contact => @contact  %> 
  	</div>

  	<div class="contact_promo">
  		<h3>Our Students Love Us</h3>
  	</div>
  </div>

</div>
