<div class="wrapper">
	<div class="main_instructor">
		<div class="instructor_container">
			<h2 class="instructor_name">Andrew Rady</h2>
			<h3 class="instructor_title">Owner, Chief Instructor</h3>
			<%= image_tag('main_instructor.jpg', :class => 'instructor_image') %>
			<p>Andrew Rady is a fourthe degree black belt in the ATA. He is also a blue belt in Brazilian Jiu-Jitsu under Keith Owen, along with a couple years of training in Krav Maga. Andrew Rady has competed extensivly in ATA compeition around the country. He is also a Army Reserver solider that is stationed in Boise</p>
		</div>
	</div>

	<div class="bottom_instructor">
		<div class="instructor_container_small">
			<h2 class="instructor_name">Andrew Rady</h2>
			<h3 class="instructor_title">Owner, Chief Instructor</h3>
			<%= image_tag('main_instructor.jpg', :class => 'instructor_image') %>
			<p>Andrew Rady is a fourthe degree black belt in the ATA. He is also a blue belt in Brazilian Jiu-Jitsu under Keith Owen, along with a couple years of training in Krav Maga. Andrew Rady has competed extensivly in ATA compeition around the country. He is also a Army Reserver solider that is stationed in Boise</p>
		</div>
	</div>
</div>