<div class="wrapper">
	<div class="program_taekwondo">
		<h1>Taekwondo</h1>
		<div class="taekwondo_left">
			<%= image_tag('ata_shield.png') %>
		</div>
		<div class="taekwondo_right">
			<div class="takewondo_menu">
				<ul class="nav nav-tabs">
					<li class="active" id='tiger'><a href="#">ATA Tigers</a></li>
					<li><a href="#" id='junior'>Junior Program</a></li>
					<li><a href="#" id='adult'>Adults</a></li>
				</ul>
			</div>
			<div class="taekwondo_programs">
				<div class="tiger_content">
					<h2>ATA Tiger Program ages 4 - 7</h2>
					<%= image_tag('atatiger-lineup.png') %>
					<p>Our specalized training program is designed to teach kids the importance of courtesy, respect, following directions and more. This program is designed to keep them engraged while learning all of the life skills need to becomes great adults in the future.<p>
				</div>
				<div class="junior_content">
					<h2>ATA Junior Program ages 7 - 12</h2>
					<p>Our ATA junior program is designed from traditional taekwondo. Not only will kids in this program learn to defend themselves but learn about important life skills. They will develop greater understanding of respect, honor, displine, curstey, respect and more. In addtion to learning these skills it is based on a lifetime of learning concepts</p>
				</div>
				<div class="adult_content">
					<h2>ATA Adult ages 13 and up</h2>
					<p>Our teen and adult program is for self-defense with the princables of traditional taekwondo. You will increase confidance while improving your physical fitness level, while reducing stress. We have a fun and friendly atmosphere for beginners and everyone is welcome.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="program_krav_full">
		<div class="program_krav_left">
			<h1>Krav Maga</h1>
			<p>Krav Maga is a combat self defense from Israel. Krav Maga focuses strictly on street self defense. Taking this class someone will learn practice street self and get in shape. We take our classes to the next level of self defense with real combative training that will prepare anyone for having to defend themselves.</p>
		</div>
		<div class="program_krav_right">
			<%= image_tag('Krav-Maga-Logo.jpg') %>
		</div>
	</div>
	<div class="program_bjj_full">
		<div class="program_bjj_left">
			<%= image_tag('bjj-takedown.png') %>
		</div>
		<div class="program_bjj_right">
			<h1>Brazilian Jiu-Jitsu</h1>
			<p>Gracie Jiu-Jitsu is considered the best ground defense in the world. The main focus of this style is what happens when the fight goes to the ground. Gracie Jiu-Jitsu always assumes that the other person is bigger and stronger then you, so it relys on technique, timing and leverage. Our new program is designed for beginners who want to start Gracie Jiu-Jitsu.</p>
		</div>
		
	</div>
</div>