<div class="video_intro">
	<h1>Member training Site</h1>
	<iframe src="https://www.youtube.com/embed/8Ks-Y9S2aDc" frameborder="0" allowfullscreen></iframe>
	<p>This section of the site is designed to get video of the forms to students. We want anyone to be able practice their ATA forms at anytime. Remember these video are not here to replace your martial arts train. If there is seomthing different in these videos then what YOUR instructor teaches then you need to refer to their teachings. We will be updating the videos for high ranks.</p>
</div>
<%  @member.each do |member| %>
	<h1><%= link_to member.title, member %></h1>
	<p><%= member.created_at.strftime('%B, %d, %Y') %></p>
<% end %>